.design-panel {
  .el-select {
    width: 100%;
  }
  .drawing-wrapper {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .render-layout-item,
  .render-item {
    .render-content {
      border: 1px solid transparent;
    }
    cursor: move;
    position: relative;
    &:hover .render-content .controls {
      display: block;
    }
  }
  .render-layout-item .render-content {
    border: 1px dashed rgb(186, 186, 255);
  }
  .active.render-layout-item > .render-content {
    border: 1px dashed rgb(20, 20, 83);
  }
  .active.render-item:not(.render-layout-item) > .render-content {
    background-color: rgba(186, 186, 255, 0.2);
  }

  .controls {
    display: none;
    font-size: 14px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    i + i {
      margin-left: 10px;
    }
    .move {
      cursor: move;
    }
    .copy,
    .remove {
      cursor: pointer;
    }
  }
  form {
    overflow: hidden;
  }
}
