.design-panel {
  .drawing-wrapper {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .render-layout-item,
  .render-item {
    cursor: move;
    position: relative;
  }
  .render-layout-item {
    border: 1px dashed rgb(186, 186, 255);
  }
  .active {
    // border: 1px dashed rgb(186, 186, 255);
    background-color: rgba(248, 248, 248);
  }
  .controls {
    font-size: 12px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  form {
    overflow: hidden;
  }
}
